.git
.github
.gitignore
.env
.env.*
!.env.example

node_modules
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*

tests
docker
*.md
phpunit.xml
phpstan.neon
pint.json
.prettierrc
.prettierignore
eslint.config.js
.editorconfig
